{% extends "base.html" %}
{% block content %}

<script type="text/javascript" charset="utf8" src="/static/kindeditor/kindeditor.js"></script>       
<script type="text/javascript" charset="utf8" src="/static/kindeditor/lang/zh_CN.js"></script>
<script src="/static/kindeditor/plugins/code/prettify.js" type="text/javascript"></script> 
<link href="/static/kindeditor/plugins/code/prettify.css" rel="stylesheet" type="text/css" />
<script>                   
 var editor;
 KindEditor.ready(function(K){
	 editor = K.create('textarea[name="content"]',{
	     });
  });

 </script>
<style type="text/css">                                                                            textarea {
        resize: none;
        width: 670px;
        height: 300px;   
    }
    #clear{
    	background-color: rgb(66, 184, 221);
    	text-decoration: none;
    	margin-top: 10px;
    }
    #submit{
    	background-color: rgb(66, 184, 221);
    	text-decoration: none;
    	margin-top: 10px;
    }
</style>
<div class = "posts">
    <section class="post" id="addpost">
        <form action={% url 'blog_add' %} class="pure-form pure-form-stacked" method="post">      
        <label>title</label>
        <input name="title" type="text" size="25" required>
        <label>tags</label>
        <input class="pure-input-1-4" name="tags" type="text" required>
        <label>content</label>
        <textarea width:400px height:600px name='content'></textarea>
        <button id="clear" class="pure-button" type="reset">clear</button>
        <button id="submit" class="pure-button" type="submit" >Submit</button>
        </form>
    </section>
</div>
{% endblock %}